<div class="form-group row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
      <h1 l10nTranslate>registration</h1>
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="form-group row" *ngIf="!successRegistered">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <label class="col-form-label" l10nTranslate>registrationEmail</label>
    <input type="email" #registrationEmail class="form-control" value="" id="registration_email">
    <div class="alert alert-danger" style="display: none" id="registration_email_alert">Required field email</div>
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="form-group row" *ngIf="!successRegistered">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <label class="col-form-label" l10nTranslate>registrationUniversity</label>
    <input type="text" #registrationUniversity class="form-control" value="">
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="form-group row" *ngIf="!successRegistered">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-center">
    <div class="btn btn-primary" (click)="registryTry()" l10nTranslate>registrationGo</div>
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="form-group row" *ngIf="errorMessage != null">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-center">
    <div class="alert alert-danger">{{ errorMessage }} </div>
  </div>
  <div class="col-sm-4"></div>
</div>

<div class="form-group row" *ngIf="successRegistered">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-center">
      Please check your mailbox (also look in spam)
  </div>
  <div class="col-sm-4"></div>
</div>


<hr>
<div class="form-group row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 text-center">
    If you wish support of the project you can use one of this ways:
    <p><a routerLink="/donate">Donate money</a></p>
    <p>Add star to projet on <a href="https://github.com/freehackquest/fhq-server/stargazers">https://github.com/freehackquest/fhq-server/stargazers</a></p>
  </div>
  <div class="col-sm-4"></div>
</div>
<hr>
<div class="form-group row">
  <div class="col-sm-12 text-center">
    Find us:
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-follow-button twitter-follow-button-rendered" title="Twitter Follow Button" src="https://platform.twitter.com/widgets/follow_button.d753e00c3e838c1b2558149bd3f6ecb8.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=freehackquest&amp;show_count=false&amp;show_screen_name=true&amp;size=m&amp;time=1559845644982" style="position: static; visibility: visible; width: 147px; height: 20px;" data-screen-name="freehackquest"></iframe> | 
    <a href="https://telegram.me/freehackquest">Telegram chat</a> | 
    <a href="mailto:freehackquest@gmail.com">freehackquest@gmail.comt</a>
  </div>
</div>

