<h1 l10nTranslate>news</h1>

<!-- Search form  -->
<div class="md-form">
  <input type="search"
    [(ngModel)]="searchText"
    (keyup)="goSearch($event.target.value)"
    placeholder="Search text">
</div>

<br>

<ngb-pagination [collectionSize]="countPages">
  <ng-template ngbPaginationFirst>First</ng-template>
  <ng-template ngbPaginationLast>Last</ng-template>
  <ng-template ngbPaginationPrevious>Prev</ng-template>
  <ng-template ngbPaginationNext>Next</ng-template>
  <ng-template ngbPaginationEllipsis>...</ng-template>
  <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
</ngb-pagination>


<table class="table">
    <tbody>
      <tr *ngFor="let n of dataList">
        <td width=60px>
          <img width=50px height=50px src="assets/img/event_{{ n.type }}.png">
        </td>
        <td>
          <small>{{ n.dt }} (UTC)</small><br>
          <strong>{{ n.message }} </strong>
        </td>
      </tr>
    </tbody>
  </table>